*{
	margin:0;
	padding:0;
	border:0;
}

.Page{
	font-size:20px;
	font-family:arial;
	color:black;
}
/* .Login{
	font-size:18px;
} */
.imgĐangNhapServer{
	margin-left:400px;
}
.imgĐangNhap{
	margin-left:400px;
}
/* .Main{
	font-size: 18px;
} */
.imgmenu{
	margin-left:280px;
}

.imgNhanVien{
	margin-left:200px;
}
.imgPhongBan{
	margin-left:200px;
}
.imgDuAn{
	margin-left:230px;
}
.imgPhanCong{
	margin-left:230px;
}